# Análise dos Dados Consolidado

In [2]:
import pandas as pd

## Carregando os dados da planilha consolidada

In [4]:
df = pd.read_excel("data/Relatorio_05-2024.xlsx")

In [6]:
# Visualizar os primeiros valores do dataframe
df.head()

,Tipo,Cidade,Produto,Qtde de Unidades Vendidas,Preço Unitário,Valor Total,Desconto,Valor Total c/ Desconto,Custo Total,Lucro,Data,Mês,Ano
0,Governo,Beira,Produto 1,1618.5,20,32370.0,0.0,32370.0,17803.5,14566.5,2019-01-01,Janeiro,2019
1,Governo,Beira,Produto 3,292.0,20,5840.0,0.0,5840.0,2920.0,2920.0,2019-02-01,Fevereiro,2019
2,Governo,Beira,Produto 3,1725.0,350,603750.0,0.0,603750.0,448500.0,155250.0,2018-11-01,Novembro,2018
3,Governo,Beira,Produto 3,1817.0,20,36340.0,0.0,36340.0,18170.0,18170.0,2019-12-01,Dezembro,2019
4,Governo,Beira,Produto 5,1817.0,20,36340.0,0.0,36340.0,18170.0,18170.0,2019-12-01,Dezembro,2019

In [7]:
# Visualizar os ultimos valores do dataframe
df.tail()

,Tipo,Cidade,Produto,Qtde de Unidades Vendidas,Preço Unitário,Valor Total,Desconto,Valor Total c/ Desconto,Custo Total,Lucro,Data,Mês,Ano
695,Vendas online,Pemba,Produto 3,2914.0,12,34968.0,4895.52,30072.48,8742.0,21330.48,2019-10-01,Outubro,2019
696,Vendas online,Pemba,Produto 6,2914.0,12,34968.0,4895.52,30072.48,8742.0,21330.48,2019-10-01,Outubro,2019
697,Vendas online,Pemba,Produto 3,914.0,12,10968.0,1645.20,9322.80,2742.0,6580.80,2019-12-01,Dezembro,2019
698,Vendas online,Pemba,Produto 4,914.0,12,10968.0,1645.20,9322.80,2742.0,6580.80,2019-12-01,Dezembro,2019
699,Vendas online,Pemba,Produto 5,1806.0,12,21672.0,3250.80,18421.20,5418.0,13003.20,2019-05-01,Maio,2019

In [20]:
# numero de linhas e colunas
df.shape

(700, 13)

## Verificando o tipo de dados das colunas do DataFrame

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Tipo                       700 non-null    object
 1   Cidade                     700 non-null    object
 2   Produto                    700 non-null    object
 3   Qtde de Unidades Vendidas  700 non-null    float64
 4   Preço Unitário             700 non-null    int64
 5   Valor Total                700 non-null    float64
 6   Desconto                   700 non-null    float64
 7   Valor Total c/ Desconto    700 non-null    float64
 8   Custo Total                700 non-null    float64
 9   Lucro                      700 non-null    float64
 10  Data                       700 non-null    datetime64[ns]
 11  Mês                        700 non-null    object
 12  Ano                        700 non-null    int64
dtypes: datetime64[ns](1), float64(6), int64(2), object(4)
memory usage: 71.2+ KB

## Acessando Colunas individualmente

In [10]:
df.head()

,Tipo,Cidade,Produto,Qtde de Unidades Vendidas,Preço Unitário,Valor Total,Desconto,Valor Total c/ Desconto,Custo Total,Lucro,Data,Mês,Ano
0,Governo,Beira,Produto 1,1618.5,20,32370.0,0.0,32370.0,17803.5,14566.5,2019-01-01,Janeiro,2019
1,Governo,Beira,Produto 3,292.0,20,5840.0,0.0,5840.0,2920.0,2920.0,2019-02-01,Fevereiro,2019
2,Governo,Beira,Produto 3,1725.0,350,603750.0,0.0,603750.0,448500.0,155250.0,2018-11-01,Novembro,2018
3,Governo,Beira,Produto 3,1817.0,20,36340.0,0.0,36340.0,18170.0,18170.0,2019-12-01,Dezembro,2019
4,Governo,Beira,Produto 5,1817.0,20,36340.0,0.0,36340.0,18170.0,18170.0,2019-12-01,Dezembro,2019

In [15]:
# Coluna Tipo
df['Tipo']

0            Governo
1            Governo
2            Governo
3            Governo
4            Governo
           ...
695    Vendas online
696    Vendas online
697    Vendas online
698    Vendas online
699    Vendas online
Name: Tipo, Length: 700, dtype: object

In [16]:
# Coluna Produto
df['Produto']

0      Produto 1
1      Produto 3
2      Produto 3
3      Produto 3
4      Produto 5
         ...
695    Produto 3
696    Produto 6
697    Produto 3
698    Produto 4
699    Produto 5
Name: Produto, Length: 700, dtype: object

In [18]:
df.Desconto

0         0.00
1         0.00
2         0.00
3         0.00
4         0.00
        ...
695    4895.52
696    4895.52
697    1645.20
698    1645.20
699    3250.80
Name: Desconto, Length: 700, dtype: float64

## Alterando o nome das colunas do DataFrame

In [27]:
colunas = ['tipo', 'cidade', 'produto', 'qtd_unidades_vendidas', 'preco_unitario', 'valor_total', 'desconto',
           'valor_total_desconto', 'custo_total', 'lucro', 'data', 'mes', 'ano']

In [29]:
df.columns

Index(['Tipo', 'Cidade', 'Produto', 'Qtde de Unidades Vendidas',
       'Preço Unitário', 'Valor Total', 'Desconto', 'Valor Total c/ Desconto',
       'Custo Total', 'Lucro', 'Data', 'Mês', 'Ano'],
      dtype='object')

In [30]:
df.columns = colunas

In [31]:
df.columns

Index(['tipo', 'cidade', 'produto', 'qtd_unidades_vendidas', 'preco_unitario',
       'valor_total', 'desconto', 'valor_total_desconto', 'custo_total',
       'lucro', 'data', 'mes', 'ano'],
      dtype='object')

In [32]:
df.tipo

0            Governo
1            Governo
2            Governo
3            Governo
4            Governo
           ...
695    Vendas online
696    Vendas online
697    Vendas online
698    Vendas online
699    Vendas online
Name: tipo, Length: 700, dtype: object

In [33]:
df.produto

0      Produto 1
1      Produto 3
2      Produto 3
3      Produto 3
4      Produto 5
         ...
695    Produto 3
696    Produto 6
697    Produto 3
698    Produto 4
699    Produto 5
Name: produto, Length: 700, dtype: object